In [2]:
from numpy import mean
data=[1,2,3,40,50,60,0.7,0.88,0.9,1000]
result=mean(data)
print('Arithmetic mean : %.3f'%result)

Arithmetic mean : 115.848

In [4]:
from scipy.stats import gmean
data=[1,2,3,40,50,60,0.7,0.88,0.9,1000]
result=gmean(data)
print('Geometric Mean : %.3f'%result)

Geometric Mean : 7.246

In [5]:
from scipy.stats import gmean
data=[1,2,3,40,50,60,0.7,0.88,0.9,1000]
result=gmean(data)
print('Geometric Mean : %.3f'%result)

Geometric Mean : 7.246

In [6]:
from scipy.stats import hmean
data=[0.11,0.22,0.33,0.44,0.55,0.66,0.77,0.88,0.99]
result=hmean(data)
print('Harmonic Mean : %.3f'%result)

Harmonic Mean : 0.350

In [7]:
from scipy.stats import hmean
data=[1,2,3,40,50,60,0.7,0.88,0.9,1000]
result=hmean(data)
print('Harmonic Mean : %.3f'%result)

Harmonic Mean : 1.795

In [9]:
from scipy.stats import hmean
data=[1,2,3,40,-50,60,0.7,0.88,0.9,1000]
result=hmean(data)
print('Harmone Mean : %.3f'%result)

ValueError: Harmonic mean only defined if all elements greater than or equal to zero

In [10]:
import pandas as pd
df = pd.DataFrame({"A":[2,4,5],
                  "B":[5,2,3],
                  "C":[2,1,2],})
df

   A  B  C
0  2  5  2
1  4  2  1
2  5  3  2

In [11]:
df.mean()

A    3.666667
B    3.333333
C    1.666667
dtype: float64

In [12]:
df.mean(axis=1)

0    3.000000
1    2.333333
2    3.333333
dtype: float64

In [18]:
from scipy.stats import gmean
df = pd.DataFrame({"A":[2,4,5],
                  "B":[5,2,3],
                  "C":[2,1,2],})
print(df)
result=gmean(df['A'])
print('Geometric mean of column A : %.3f'%result)
result=gmean(df['B'])
print('Geometric mean of column B : %.3f'%result)
result=gmean(df['C'])
print('Geometric mean of column C : %.3f'%result)
result=gmean(df.iloc[0])
print('Geometric mean of row 0 : %.3f'%result)
result=gmean(df.iloc[1])
print('Geometric mean of row 1 : %.3f'%result)
result=gmean(df.iloc[2])
print('Geometric mean of row 2 : %.3f'%result)
result=gmean(df.iloc[:,0])
print('Geometric mean of column 0 : %.3f'%result)
result=gmean(df.iloc[:,1])
print('Geometric mean of column 1 : %.3f'%result)
result=gmean(df.iloc[:,2])
print('Geometric mean of column 2 : %.3f'%result)

   A  B  C
0  2  5  2
1  4  2  1
2  5  3  2
Geometric mean of column A : 3.420
Geometric mean of column B : 3.107
Geometric mean of column C : 1.587
Geometric mean of row 0 : 2.714
Geometric mean of row 1 : 2.000
Geometric mean of row 2 : 3.107
Geometric mean of column 0 : 3.420
Geometric mean of column 1 : 3.107
Geometric mean of column 2 : 1.587

In [19]:
from scipy.stats import hmean
df = pd.DataFrame({"A":[2,4,5],
                  "B":[5,2,3],
                  "C":[2,1,2],})
print(df)
result=hmean(df['A'])
print('Hormonic mean of column A : %.3f'%result)
result=hmean(df['B'])
print('Hormonic mean of column B : %.3f'%result)
result=hmean(df['C'])
print('Hormonic mean of column C : %.3f'%result)
result=hmean(df.iloc[0])
print('Hormonic mean of row 0 : %.3f'%result)
result=hmean(df.iloc[1])
print('Hormonic mean of row 1 : %.3f'%result)
result=hmean(df.iloc[2])
print('Hormonic mean of row 2 : %.3f'%result)
result=hmean(df.iloc[:,0])
print('Hormonic mean of column 0 : %.3f'%result)
result=hmean(df.iloc[:,1])
print('Hormonic mean of column 1 : %.3f'%result)
result=hmean(df.iloc[:,2])
print('Hormonic mean of column 2 : %.3f'%result)

   A  B  C
0  2  5  2
1  4  2  1
2  5  3  2
Hormonic mean of column A : 3.158
Hormonic mean of column B : 2.903
Hormonic mean of column C : 1.500
Hormonic mean of row 0 : 2.500
Hormonic mean of row 1 : 1.714
Hormonic mean of row 2 : 2.903
Hormonic mean of column 0 : 3.158
Hormonic mean of column 1 : 2.903
Hormonic mean of column 2 : 1.500

In [21]:
import statistics
data=[1,2,3,1,2,2,3,2]
med=statistics.median(data)
print(med)

2.0

In [22]:
import statistics
data=[1,7,3,5]
med=statistics.median(data)
print(med)

4.0

In [23]:
print("the median of the data frame on the row axis is :")
df.median(axis=0)

the median of the data frame on the row axis is :

A    4.0
B    3.0
C    2.0
dtype: float64

In [24]:
print("the median of the data frame on the column axis is :")
df.median(axis=1)

the median of the data frame on the column axis is :

0    2.0
1    2.0
2    3.0
dtype: float64

In [25]:
import pandas as pd
df=pd.DataFrame({"A":[2,4,None],
                "B":[5,None,3],
                "C":[None,1,2],})
df

     A    B    C
0  2.0  5.0  NaN
1  4.0  NaN  1.0
2  NaN  3.0  2.0

In [26]:
df.median(axis=1,skipna=True)

0    3.5
1    2.5
2    2.5
dtype: float64

In [27]:
import statistics
data=[1,2,3,1,2,2,3,2,3,2]
modd=statistics.mode(data)
print(modd)

2

In [30]:
import statistics
data=[1,2,3,3,3,3,3,3,2,3,2]
modd=statistics.mode(data)
print(modd)

3

In [32]:
import pandas as pd
df=pd.DataFrame({"A":[2,2,5],
                "B":[5,2,5],
                "C":[2,1,2],})
df

   A  B  C
0  2  5  2
1  2  2  1
2  5  5  2

In [33]:
print("The mode of the data frame on the row axis is:")
df.mode()

The mode of the data frame on the row axis is:

   A  B  C
0  2  5  2

In [34]:
print("The mode of the data frame on the row axis is:")
df.mode(axis=1)

The mode of the data frame on the row axis is:

   0
0  2
1  2
2  5