In [1]:
x=10
print(x)

10

In [2]:
type(x)

int

In [4]:
x="hello"
y="""world"""
print(x+y)

helloworld

In [4]:
type(y)

str

In [5]:
x=10.6
type(x)

float

In [6]:
a=input('Please enter a value')
print(a)
type(a)

Please enter a valuepython
python

str

In [8]:
a=int(input('Please enter a value'))
print(a)
type(a)

Please enter a value5
5

int

In [9]:
a=float(input('Please enter a value'))
print(a)
type(a)

Please enter a value6.3
6.3

float

In [1]:
a=input('Enter a value:')
b=input('Enter another value:')
a=int(a)
b=int(b)

c=a+b
d=a-b
e=a/b
f=a//b
g=a**b

print(c)
print(d)
print(e)
print(f)
print(g)

Enter a value:9
Enter another value:5
14
4
1.8
1
59049

In [2]:
import os
os.getcwd()

'C:\\Users\\Acer\\Desktop\\python'

In [5]:
%run third.py

Exception: File `'third.py'` not found.

In [6]:
print("hello")
x=19
print(x)

hello
19

In [7]:
%paste

UsageError: Line magic function `%paste` not found.

In [8]:
%debug?

In [9]:
x?

In [10]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [11]:
import IPython
IPython.display.Audio("ramana.mp3")

ValueError: rate must be specified when data is a numpy array or list of audio samples.

In [12]:
x=[1,2,3, "hello",10.4,[7,8]]

In [13]:
x[3][1]

'e'

In [14]:
x="hello world"
x[1:5]

'ello'

In [15]:
x[-3]

'r'

In [1]:
variable="Welcome to python"

In [2]:
print(variable)

Welcome to python

In [3]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [4]:
variable="Welcome to python tutorials"
variable2="This is a good place to learn programming"
print(variable,variable2)

Welcome to python tutorials This is a good place to learn programming

In [5]:
print(1,2,3,4,5,sep="%%")

1%%2%%3%%4%%5

In [6]:
print(1,2,3,4,5,end="This is thr end")

1 2 3 4 5This is thr end

In [7]:
var1="hello"
var2= "Programming world"
var3="Nimrita"
print("T love {0} and {1} and {2}".format(var1,var2,var3))

T love hello and Programming world and Nimrita

In [9]:
print(format(1234567,",d"))

1,234,567

In [10]:
number=12.3456
print("The value of x is %1.3f" %number)

The value of x is 12.346

In [12]:
print("The value of x is %1.8f" %number)

The value of x is 12.34560000

In [13]:
number=input("Enter the number of choice:")
print("The number that you have entered is: %s" %number)

Enter the number of choice:12
The number that you have entered is: 12

In [14]:
def my_function():
    print("Hello from a function")
my_function()

Hello from a function

In [15]:
def my_function(fname):
    print(fname)
    
    
my_function("Amit")
my_function("Ram")
my_function("Anita")

Amit
Ram
Anita

In [16]:
def my_function(fname, lname):
    print(fname,lname)
my_function("Amit","Reddy")

Amit Reddy

In [17]:
def my_function(fname, lname):
    print(fname+ " "+lname)
my_function("emily")

TypeError: my_function() missing 1 required positional argument: 'lname'

In [20]:
def my_function(child3, child2, child1):
    print("The youngest child is"+child3)
my_function(child1="Emil",child3="Tobias",child2="Linus")

The youngest child isTobias

In [21]:
def my_function(country="Norway"):
    print("I am from"+country)
my_function("Sweden")
my_function("India")
my_function("")
my_function("Brazil")

I am fromSweden
I am fromIndia
I am from
I am fromBrazil

In [22]:
def my_function(food):
    for x in food:
        print(x)
fruits=["apple","banana","cherry"]
my_function(fruits)

apple
banana
cherry

In [23]:
for i in ['n','i','m']:
    print(i)
    print('Hello')

n
Hello
i
Hello
m
Hello

In [24]:
def myfunction():
    pass

In [25]:
import math
print(math.pi)

3.141592653589793

In [26]:
from math import pi
print(pi)

3.141592653589793

In [28]:
import math
area=(4*math.pow(20,2))/(4*math.tan(math.pi/4))
print(area)

400.00000000000006

In [29]:
import math
print(math.pow(150,4))

506250000.0

In [30]:
print(math.tan(60))

0.320040389379563

In [31]:
print(math.pi)

3.141592653589793

In [34]:
add = lambda a: a+a
print(add(20))

40

In [35]:
add=lambda a,b,c:a+b+c
print(add(10,10,10))

30

In [37]:
def add(a,b,c):
    return a+b+c
result=add(10,10,10)
print(result)

30

In [38]:
print(type(result))

<class 'int'>

In [39]:
add=lambda a,b,c:a+b+c
print(add(10,10,10))

30

In [40]:
print(type(add))

<class 'function'>

In [41]:
import time
start_time=time.time()
add=lambda a, b,c:a+b+c
print(add(10,10,10))
print("---%s seconds---" %(time.time()-start_time))

30
---0.0004992485046386719 seconds---

In [42]:
def add(n):
    return lambda a:a+n
result=add(100)
print(result(200))

300

In [43]:
def add(n):
    return lambda a: a+n
result=add(100)
print(result(200))
print("------------------")
print(result(300))
print("------------------")
print(result(400))
print("------------------")
print(result(500))

300
------------------
400
------------------
500
------------------
600

In [44]:
a=10
b=5
print('a+b=',a+b)
print('a-b=',a-b)
print('a*b=',a*b)
print('a/b=',a/b)
print('a%b=',a%b)
print('a//b=',a//b)
print('a**b=',a**b)

a+b= 15
a-b= 5
a*b= 50
a/b= 2.0
a%b= 0
a//b= 2
a**b= 100000

In [45]:
a=10
b=5
print('a>b=',a>b)
print('a<b=',a<b)
print('a==b=',a==b)
print('a!=b=',a!=b)
print('a>=b=',a>=b)
print('a<=b=',a<=b)

a>b= True
a<b= False
a==b= False
a!=b= True
a>=b= True
a<=b= False

In [49]:
a=True
b=False
print('a and b is',a and b)
print('a or b is',a or b)
print('not a is', not a)

a and b is False
a or b is True
not a is False

In [50]:
a=""
b="Python"
a and b

''

In [51]:
a=""
b="Python"
a or b

'Python'

In [52]:
a=10
b=11
print('a & b is',a&b)
print('a | b is',a|b)
print('a ^ b is',a^b)
print('~a is',~a)
print('a << b is',a<<b)
print('a >> b is',a>>b)

a & b is 10
a | b is 11
a ^ b is 1
~a is -11
a << b is 20480
a >> b is 0

In [53]:
a=15
b=5
b=a
print('b=a:',b)
b+=a
print('b+=a:',b)
b-=a
print('b-=a:',b)
b*=a
print('b*=a:',b)
b/=a
print('b/=a:',b)
b//=a
print('b//=a:',b)
b%=a
print('b%=a:',b)
b**=a
print('b**=a:',b)
b<=a
print('b<=a:',b)
b>=a
print('b>=a:',b)
a&=5
print('a&=5:',a)
a|=5
print('a|=5:',a)

b=a: 15
b+=a: 30
b-=a: 15
b*=a: 225
b/=a: 15.0
b//=a: 1.0
b%=a: 1.0
b**=a: 1.0
b<=a: 1.0
b>=a: 1.0
a&=5: 5
a|=5: 5

In [54]:
a=10
b=11
print('a is b is',a is b)
print('a is not b is',a is not b)

a is b is False
a is not b is True

In [55]:
a=5
b=5
c=a
print(id(a))
print(id(b))
print(id(c))
print(a is c)

140728173344672
140728173344672
140728173344672
True

In [56]:
a="python"
print(type(a))
print('y'in a)
print('p'not in a)

<class 'str'>
True
False

In [58]:
a={1:"A", 2:'B'}
print(2 in a)
print(3 not in a)

True
True

In [59]:
fruits=["apple","banana","cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [60]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [61]:
x=range(100)
print(x)

range(0, 100)

In [62]:
for i in x:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [63]:
fruits=["apple","banana","cherry"]
for x in fruits:
    print(x)
    if x=="banana":
        break

apple
banana

In [64]:
fruits=["apple","banana","cherry"]
for x in fruits:
    if x=="banana":
        continue
    print(x)

apple
cherry

In [1]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [2]:
for x in range(6):
    print(x)
else:
    print("Finally finished")

0
1
2
3
4
5
Finally finished

In [4]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [5]:
x=range(1, 10)
for i in x:
    print(i)

1
2
3
4
5
6
7
8
9

In [6]:
adj=["red","big","tasty"]
fruits=["apple","banana","cherry"]
for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [1]:
x=range(1,10,2)
for i in x:
    print(i)

1
3
5
7
9

In [2]:
i=1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

In [3]:
i=1
while i<6:
    print(i)
    if i==3:
        break
    i += 1

1
2
3

In [4]:
i=0
while i<6:
    i+=1
    if i==3:
        continue
    print(i)

1
2
4
5
6

In [5]:
i=1
while i<6:
    i+=1
    if i==3:
        continue
    print(i)

2
4
5
6

In [6]:
i=1
while i<6:
    i+=1
else:
    print("i is no longer less than 6")

i is no longer less than 6

In [7]:
a=33
b=200
if b>a:
    print("b is greater than a")

b is greater than a

In [8]:
a=33
b=200
if b>a:
    print("b is greater than a")
elif a==b:
    print("a and b are equal")

b is greater than a

In [10]:
a=333
b=200
if b>a:
    print("b is greater than a")
elif a==b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [1]:
if a>b:
    print("a is greater than b")

NameError: name 'a' is not defined

In [2]:
a=2
b=330
print("A") if a>b else print("B")

B

In [3]:
a=200
b=33
c=500
if a>b and c>a:
    print("Both conditions are true")

Both conditions are true

In [4]:
a=200
b=33
c=500
if a>b or c>a:
    print("atleast one of the condition is true")

atleast one of the condition is true

In [5]:
x=41
if x>10:
    print("Above ten,")
    if x>20:
        print("and also above 20!")
    else:
        print("but not above 20")

Above ten,
and also above 20!

In [6]:
x=range(10)
print(type(x))

<class 'range'>

In [8]:
a=33
b=200
if b>a:
    pass

In [9]:
names=['India','Canada','US','UK']
for i in range(1,len(names)):
    print(names[i])

Canada
US
UK

In [10]:
num=[ ]
num=[1,2,3,4,5]
num

[1, 2, 3, 4, 5]

In [11]:
num=[1,2,3,"tanu",4.0,4/2]
num

[1, 2, 3, 'tanu', 4.0, 2.0]

In [13]:
num=[1,2,3,4,5]
type(num)

list

In [14]:
name=["amith","anitha","krishna"]
name

['amith', 'anitha', 'krishna']

In [15]:
name[0]

'amith'

In [17]:
len(name)

3

In [19]:
len(name[0])

5

In [20]:
names=name
names

['amith', 'anitha', 'krishna']

In [21]:
cars=["mercedes","bmw","audi"]
bikes=["honda","yamaha","aprilla"]
cars_bikes=cars+bikes
cars_bikes

['mercedes', 'bmw', 'audi', 'honda', 'yamaha', 'aprilla']

In [22]:
num=[1,2,3,4,5]
sum=0
for i in num:
    sum=sum+i
print(sum)

15

In [23]:
i=0
while i<10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [24]:
x=[1,2,3]
for i in x:
    print(x)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [25]:
name=['Nimrita','Koul']
name

['Nimrita', 'Koul']

In [27]:
name.index("Nimrita")

0

In [28]:
name.remove("Nimrita")
name

['Koul']

In [29]:
num=[1,4,5,2,3]
num

[1, 4, 5, 2, 3]

In [30]:
num.sort()
num

[1, 2, 3, 4, 5]

In [31]:
num=[1,2,3,4,5]
num

[1, 2, 3, 4, 5]

In [32]:
num.reverse()
num

[5, 4, 3, 2, 1]

In [33]:
char=['a','b','c','d']
sli=char[1:2]
sli

['b']

In [34]:
string="This is a python tutorial"
print(string)

This is a python tutorial

In [35]:
print(type(string))

<class 'str'>

In [36]:
string="This is a \"Google colab\" python  notebook"
print(string)

This is a "Google colab" python  notebook

In [37]:
string="Python"
print(string[2])

t

In [38]:
print(string[5])

n

In [39]:
string="programming"
string

'programming'

In [41]:
print(string[0:1])

p

In [42]:
print(string[:3])

pro

In [43]:
print(string[-3:])

ing

In [44]:
print(string[3:])

gramming

In [45]:
print(string[::-1])

gnimmargorp

In [46]:
string="Computer Programming"
string

'Computer Programming'

In [47]:
list=string.split()
list

['Computer', 'Programming']

In [50]:
money='$113.767'
print(money)
print("================")
print(type(money))

$113.767
================
<class 'str'>

In [51]:
money=money.replace('$','')
money

'113.767'

In [52]:
money=money.replace(',','')
money

'113.767'

In [54]:
string="Python programming is fun"
string

'Python programming is fun'

In [55]:
string=" ".join(string)
string

'P y t h o n   p r o g r a m m i n g   i s   f u n'

In [56]:
string="programming"
string=string.capitalize()
string

'Programming'

In [57]:
print(string.center(15,'*'))

**Programming**

In [59]:
print(string.find('p'))

-1

In [60]:
print(string.find('t'))

-1

In [61]:
string="              programming is easy          "
string

'              programming is easy          '

In [62]:
print(string.strip())

programming is easy

In [63]:
tuple=("today's","Date","is","August",15,2019)
print(tuple)

("today's", 'Date', 'is', 'August', 15, 2019)

In [65]:
print(type(tuple))

<class 'tuple'>

In [66]:
print(tuple[2])

is

In [67]:
print(tuple[5])

2019

In [68]:
tuple1=("and","its","thursday")
print(tuple1)

('and', 'its', 'thursday')

In [69]:
nest=tuple,tuple1
print(nest)

(("today's", 'Date', 'is', 'August', 15, 2019), ('and', 'its', 'thursday'))

In [70]:
print(tuple[0])

today's

In [71]:
tuple[0]=("hi")
print(tuple)

TypeError: 'tuple' object does not support item assignment

In [73]:
dictionary={}
dictionary={'Name':'tanu','sex':'female','age':23}
print(dictionary)

{'Name': 'tanu', 'sex': 'female', 'age': 23}

In [74]:
print(type(dictionary))

<class 'dict'>

In [75]:
dictionary={'Name':'tanu','sex':'female','age':23}
print(dictionary)

{'Name': 'tanu', 'sex': 'female', 'age': 23}

In [76]:
print(dictionary['Name'])

tanu

In [78]:
print(dictionary['sex'])

female

In [79]:
dictinary['Hight']

KeyError: 'Hight'

In [80]:
print(dictionary.get('age'))

23

In [81]:
print(dictionary.popitem())

('age', 23)

In [82]:
print(dictinary.pop('sex'))

KeyError: 'sex'

In [83]:
print(dictionary)

{'Name': 'tanu', 'sex': 'female'}

In [84]:
dictionary.clear()
print(dictionary)

{}

In [85]:
dictionary={'Name':'tanu','sex':'male','age':23,'height0':5.8,'occupation':'student'}
print(dictionary)

{'Name': 'tanu', 'sex': 'male', 'age': 23, 'height0': 5.8, 'occupation': 'student'}

In [86]:
for i in dictionary:
    print(dictionary[i])

tanu
male
23
5.8
student

In [87]:
dictionary={0:"tanu",1:"Prabhu"}
print(dictionary)

{0: 'tanu', 1: 'Prabhu'}

In [88]:
dictionary={}
print(all(dictionary))

True

In [89]:
print(any(dictionary))

False

In [91]:
class python:
    def designer():
        print("guido van rossum")
    def first_appeard():
        print("1990;29 years ago")

In [92]:
python.designer()

guido van rossum

In [93]:
p=python
p.designer()

guido van rossum

In [94]:
p=python
p.designer()

guido van rossum

In [100]:
p.first_appeard()

1990;29 years ago

In [99]:
python.first_appeard()

1990;29 years ago

In [104]:
class dog:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def func(a):
        print("Hello my dog's name is"+a.name+"and it's age is"+a.age)
p1=dog("danny","10")
p1.func()

Hello my dog's name isdannyand it's age is10

In [105]:
class dog:
    breed="Alaskan malamute"
    age=10
d=dog()
print(d.breed)
print("-----------------")
d.breed="labrador"
print(d.breed)

Alaskan malamute
-----------------
labrador

In [106]:
class dog:
    print("Alaskan malamute")
    print("10")

Alaskan malamute
10

In [107]:
d=dog()
print(d)

<__main__.dog object at 0x0000029AA0EAC310>

In [108]:
del d
print(d)

NameError: name 'd' is not defined

In [109]:
class dog:
    age=10
    def name():
        print("danny")
d=dog
d.age

10

In [110]:
class dog:
    name_of_the_dog="danny"
d=dog
del d.name_of_the_dog
print(d.name_of_the_dog)

AttributeError: type object 'dog' has no attribute 'name_of_the_dog'